.row {
    flex-wrap: nowrap;
    margin-left: 5px !important;
    justify-content: center !important;

}

.col-md-3 {
    margin-right: 5px !important;
    justify-content: center;
}

.container1 {
    background-color: lightgrey;
    border-radius: 8px;
}

.card {
    width: 98% !important;

}

.card-body h3 {
    font-size: 2.5rem
}

.card-footer {
    color: #fff;
    text-decoration: none;
}

.card-footer:hover {
    color: #fff;
    text-decoration: none;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.card-body h3 {
    font-size: 2.5rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.heading {
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 3px 3px -2px rgb(0 0 0 / 12%);
}