<div class="wrapper">
    <div class="section">
        <div class="top_navbar" (click)="ToogleSidebar()" [ngClass]="{'not_active': sidebarNotActive}">
            <div class="hamburger">
                    <i class="fas fa-bars"></i>
            </div>
            
        </div>
        <div class="sidebar"  [ngClass]="{'hideSidebar': sidebarNotActive}">
            <div class="profile">
                <p>Admin</p>
            </div>
            <ul>
                <li>
                    <a routerLink="dashboard_content">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Home</span>
                    </a>
                </li>
                <li>
                        <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Products
                        </a>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body" style="background-color: var(--nav-color);">
                                <a routerLink="Addproducts" style="color: white;">Add Products</a>
                                <a routerLink="ShowProducts" style="color: white;">Show Products</a>
                            </div>
                        </div>
                </li>
                <li>
                    <a routerLink="categories">Categories</a>   
                <li>
                    <a routerLink="partners">Partners</a>
                </li>
                
            </ul>
        </div>

    </div>