<div class="container">
    <!-- <div *ngIf="isFormVisible" class="form-container mt-4">
        <button class="close-btn" (click)="toggleForm()">&times;</button>
    
        <form [formGroup]="PartnerForm"  (ngSubmit)="submitPartner()">
          <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input Type="text" id="Name" class="form-control" formControlName="Name" placeholder="Enter Partner's Name">
            <div *ngIf="PartnerForm.get('Name')?.invalid && PartnerForm.get('Name')?.touched" class="text-danger">
              Name is required and should be less than 100 characters.
            </div>
          </div>
    
          <div class="mb-3">
            <label for="Address" class="form-label">Address</label>
            <input Type="text" id="Address" class="form-control" formControlName="Address" placeholder="Enter Partner's Address">
            <div *ngIf="PartnerForm.get('Address')?.invalid && PartnerForm.get('Address')?.touched" class="text-danger">
              Address is required and should be less than 300 characters.
            </div>
          </div>
    
          <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input Type="Email" id="Email" class="form-control" formControlName="Email" placeholder="Enter Partner's Email">
            <div *ngIf="PartnerForm.get('Email')?.invalid && PartnerForm.get('Email')?.touched" class="text-danger">
              Valid Email is required.
            </div>
          </div>
    
          <div class="mb-3">
            <label for="Type" class="form-label">Type</label>
            <select id="Type" class="form-control" formControlName="Type">
              <option value="" disabled selected>Select Partner Type</option>
              <option value="Buyer">Buyer</option>
              <option value="Seller">Seller</option>
            </select>
            <div *ngIf="PartnerForm.get('Type')?.invalid && PartnerForm.get('Type')?.touched" class="text-danger">
              Type is required.
            </div>
          </div>
    
          <div class="button-group">
            <button Type="submit" class="btn btn-success" [disabled]="PartnerForm.invalid">Save Changes</button>
            <button Type="button" class="btn btn-secondary" (click)="toggleForm()">Cancel</button>
          </div>
        </form>
      </div> -->
      <div class="container mt-2">
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput [(ngModel)]="SearchValues.SKU" placeholder="Search by sku">
        </mat-form-field>
          <button class="btn btn-primary btn-lg py-2 mx-2" (click)="search()">Search</button>
          <button class="btn btn-success btn-lg py-2 mx-2" (click)="InventoryStatus()">Inventory Report</button>
      </div>
  
      <div class="container all item my-5">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
            
            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
            </ng-container>

            <ng-container matColumnDef="SKU">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
                <td mat-cell *matCellDef="let element"> {{element.SKU}} </td>
            </ng-container>

            <ng-container matColumnDef="StockAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.StockAmount}} </td>
            </ng-container>

            <ng-container matColumnDef="StockLevel">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Level </th>
                <td mat-cell *matCellDef="let element"> {{element.StockLevel}} </td>
            </ng-container>
            
            <ng-container matColumnDef="Description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
            </ng-container>
            
            <ng-container matColumnDef="UnitPrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Price </th>
              <td mat-cell *matCellDef="let element"> {{element.UnitPrice}} </td>
            </ng-container>
            
            <ng-container matColumnDef="CategoryName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
              <td mat-cell *matCellDef="let element"> {{element.CategoryName}} </td>
            </ng-container>
              
            <!-- Action Column -->
            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">
                <button mat-button color="primary" (click)="editProduct(element.Id)">Edit</button>
                <button mat-button color="warn" (click)="deleteProduct(element.Id)">Delete</button>
                <button mat-button color="primary" (click)="SellProduct(element.Id)">Sell Product</button>
              </td>
            </ng-container>
            
            <!-- Define Header and Row -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
          </table>
      
          <!-- Paginator -->
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons
                         [length]="totalRecords"
                         [pageSize]="pageSize"
                         [pageIndex]="pageNumber"
                         (page)="changingPage($event)">
          </mat-paginator>
        </div>
    </div>
</div>